{% extends 'base.html' %} {% block content %}

<h1>Cupcakes</h1>

<ul class="cupcakes"></ul>

<form action="#">
	<h3>Add a Cupcake</h3>

	<p>
		<label for="flavor">Flavor</label>
		<input type="text" id="flavor" />
	</p>
	<p>
		<label for="size">Size</label>
		<input type="text" id="size" />
	</p>
	<p>
		<label for="rating">Rating</label>
		<input type="number" id="rating" />
	</p>
	<p>
		<label for="image">Image (url)</label>
		<input type="text" id="image" value="" />
	</p>
	<button class="btn btn-info add">Add</button>
</form>

{% endblock %}
